<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186476227140-5p2o9n9f9vii40p1p7ckeslt7uev46i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186476227140-5p2o9n9f9vii40p1p7ckeslt7uev46i0</string>
	<key>API_KEY</key>
	<string>AIzaSyAjr1LU2YhCQKlK4H2YV0oAwpzJ7slEXBU</string>
	<key>GCM_SENDER_ID</key>
	<string>186476227140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>fb-ui-auth-example</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-ui-auth-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186476227140:ios:6df3388587368b3dd3ea11</string>
</dict>
</plist>